.formInput {
  display: flex;
  flex-direction: column;
  width: 350px;
}

input {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgba(97, 164, 240, 0.863);
}
label {
  font-size: 15px;
  color: rgb(85, 85, 88);
  margin-top: 10px;
}
span {
  font-size: 12px;
  padding: 1px;
  color: red;
  margin-left: 10px;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
