.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg");
  background-size: cover;
  background-position: center;
}
form {
  background-color: rgba(176, 208, 236, 0.445);
  border-radius: 10px;
  padding: 20px;
}

h1 {
  color: #b9129d;
  text-align: center;
}
button {
  width: 100%;
  height: 50%;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 255, 255, 0.37);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

